/* font-family: 'Bitter', serif;
font-family: 'Lora', serif; */

/*****************phone**********************/

body p {
  font-size: 16px;
  font-family: "Lora", serif;
}

h1,
h2 {
  font-family: "Bitter", serif;
  background-color: black;
  color: white;
}
main h2 {
  padding: 1rem;
}

header,
footer {
  max-width: 767px;
  margin: auto;
  color: white;
  padding: 1em;
  text-align: center;
  background-color: black;
}

main {
  max-width: 767px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}
main section {
  margin: 1em;
  border: 2px solid;
  padding: 1rem;
}

/*******************tablet********************/
@media only screen and (min-width: 37.5em) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  main section:nth-child(3) {
    grid-column: span 2;
  }
}

/******************Desktop*********************/
@media only screen and (min-width: 60em) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  main section:nth-child(3) {
    grid-column: span 1;
  }
}
